.contentBody{
    background-color:none; 
    margin-top: 150px;
}
.contatos{
    border:1px solid thistle;
    border-radius: 25px;
    background-color:#e63888;
}
.glyphicon{
    color:lightskyblue;
    font-size:50px;
    margin-top: 2%;
}

th{
    font-size: 17px;
    color:#1E90FF;
}
th .glyphicon{
    font-size: 15px;
    color:#1E90FF;
}
tr{
    font-size: 17px;
}
li{
    font-size: 17px;
}

.novoContato a{
    color:#FFF;
    font-size: 15px;
    text-decoration: none;
}
.contatos a{
    text-decoration: none;
}

p{
    color:dodgerblue;
    font-size:22px;
    font-weight: bolder;
    font-family: sans-serif;
}
#msg{
    color:#228B22;
    font-size:20px;
    font-weight: bolder;
}
.imgAgenda img{
    width:30%;
}

.novoContato .glyphicon{
    font-size: 18px;
    color: #FFF;
}

.destaque{
    margin-top:120px;
    background-color:none;
    border:none;
}
.subDestaque{
    margin-top: 40px;
    margin-bottom: 50px;
    border:3px solid #FFF;
    border-radius: 250px;
    height: 150px;
    background-color:#6c7cd0;
    color:#FFF;
}
.subDestaque h4{
    color:#FFF;
    margin-top: 45px;
}
h3{
    color:#6c7cd0;
    
}

.portifolio{
    background-color:none;
    border:none;
   
}
.subPortifolio{
    margin-top: 40px;
    margin-bottom: 50px;
    text-align: center;
}
.subPortifolio img{
    border-radius: 10px;
    border: none;
}

.atividadeFisica{
    background-color:none;
    border:none;
}
.subAtividadeFisica img{
    margin-top: 40px;
    margin-bottom: 50px;
    height: 180px;
    width: 240px;
}

.subAtividadeFisica h4{
    color: #6c7cd0;
    font-weight: bold;
}
.subAtividadeFisica p{
    text-align: justify;
    font-size: 14px;
    color: #4B0082;
    font-family: Arial, Helvetica, sans-serif;
    border:none;
}
.carousel-indicators{
    margin-top: 5px;
    border:none;
    position: relative; 
}
.carousel-indicators .ponto{
    background-color: #4B0082;
    width: 27px;
    height: 15px;
}



